<!DOCTYPE html>
<html lang="en-au">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="John Ferlito" />

   <title>{{ page.title }}</title>

   <link href="/atom.xml" rel="alternate" title="Zookeepr: Conference Management System" type="application/atom+xml" />
   <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
</head>

<body>

  <div id="wrapper">
    <div id="head">
      <div id="wikihead">
        <a href="http://github.com/zookeepr/zookeepr"><img id="fork" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>
      </div>
      <div id="page-logo">
        <img src="/images/logo.png">
      </div>
      <div>
      </div>
      <div id="page-title">Zookeepr</div>
      <div id="page-subtitle">Conference Management System</div>

    </div>

    <div id="columns">
      <div id="col-left">
        <div id="sidebar">
          <ul>
            <li><a class="active" href="/">Home</a></li>
          </ul>

          <h3>About</h3>
          <ul>
            <li><a href="/news.html">News</a></li>
            <li><a href="https://github.com/zookeepr/zookeepr/downloads">Releases</a></li>
            <li><a href="https://github.com/zookeepr/zookeepr/wiki/Roadmap">Roadmap</a></li>
          </ul>

          <h3>Development</h3>
          <ul>
            <li><a href="https://github.com/zookeepr/zookeepr">Source</a></li>
            <li><a href="https://github.com/zookeepr/zookeepr/wiki">Wiki</a></li>
            <li><a href="https://github.com/zookeepr/zookeepr/issues">Bugs</a></li>
            <li><a href="http://lists.zookeepr.org">Lists</a></li>
          </ul>

        </div>
      </div>

      <div id="col-right">
        <div id="content">
          {% if page.url contains '/news/'  %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          {{ content }}
        </div>
        <div id="footer">© 2011 Zookeepr</div>
      </div>
    </div>
  </div>
</body>
</html>
